<!doctype html>
<html>

<head>
  <title>React Framework</title>
  <!-- Semantic META -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link href='/static/style.css' rel="stylesheet">
 <!-- <link href='static/components/core/core.css' rel="stylesheet"> -->
</head>

<body>

  <div id="mount">
  </div>

  <script src="static/app.js"></script>
</body>

</html>
