html {
    position: relative;
    min-height: 100%;
}

/*Home*/
.description{
  font-weight: 200;
  color: #7D7D7D;
  margin-bottom: 25px;
}

.marginBottom{
  margin-bottom: 80px;
}
.header_color{
  color:#626262;
}
.text-center{
  text-align: center;
}
.mainContent{
  text-align: center;
}
.compImg{
  max-height: 50px;
  padding: 0 20px;
}
.expressLogo{
  max-height: 30px;
  margin-top: 20px;
}
.callToAction{
  margin: 7px 4px;
}
/*Header*/
.navbar-brand{
  padding: 5px 15px;
}
.navbar-brand img{
  height: 40px;
  display: inline-block;
}
.navbar-brand span{
  display: inline-block;
  vertical-align: sub;
  padding-left: 12px;
  color: #AAAAAA;
      font-size: 0.9em;
}
/*Footer*/
.footer {
 	  background-color: #222;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 4000;
    color: #9d9d9d;
    padding:15px 2px;
}
.footer a{
	color:#F1F1F1;
}
.list-social{
	list-style: none outside none;
    overflow: hidden;
    margin: 0;
}

.list-social li{
	display: inline;
	padding:2px 7px;
}
.list-social .fa{
	color:#F1F1F1;
}
.list-social .fa-inverse{
	color: #424246;
}
.hidden{
	display:none;
}
.shown{
	display:block;
}

.editBtnCSS{
margin-right: 5px;

}

.commonCenter {
  text-align: center;
}
.commonWidth{
  max-width: 75%;
  margin-left: 4.5em;
}

.validationMsg {
    color: #FF0000;
    margin-top: 3%;
    font-size: 15px;
    font-weight: bold;
    position: relative;
  }
